*{
    font-family: 'Montserrat', sans-serif;
}
.banner{
    background-image:url('/marvel-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
}

.card{
    cursor: pointer;
    &--img{
        height: 250px;
        object-fit: cover;
    }
}

.titulo{
    letter-spacing: -1px;
    color: #9c9c9c;
    font-weight: 500;
    text-transform: uppercase;
}